/* -----------------------------------the biggest box -------------------------------*/

.body {
    display: flex;
    background-color: #E5E5E5;
}

/*  -----------------------------------the two main boxes, aside  -----------------------------------*/

.centerFrame {
    background-color: #E5E5E5;
}

.nav{
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    
}

/*  ----------------------------------- head ----------------------------------- */
 
.header {
    /* margin: 0.5rem; */
    display: flex;
    justify-content: space-around;
}

.upRight {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 2rem;
}

/*  ----------------------------------- NavBar ----------------------------------- */

.logos {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

/*  ----------------------------------- title and icone of every frame ----------------------------------- */

.card {
    display: flex;
    padding: 0.5rem;

    /* font-style: italic; */
    /* background-color: darkgoldenrod; */
}

.iconWidg {
    padding: 0.5rem;
}

/*  ----------------------------------- organization of the frames ----------------------------------- */

.widgets {
    display: flex;
    /* display: grid;
    grid-template-columns: (3,1fr); */
    /* background-color: cadetblue; */
    padding: 2rem;
    /* margin: 2rem; */
}

/* .left {
    grid-column: 2;
}
.right {
    grid-column:1;
} */

.group1 {
    display: flex;
}

.group2 {
    display: flex;
}

.littleWidget {
    background-color: #FFFFFF;
    /* padding: 2rem; */
    margin: 0.5rem;
    border-radius: 10px;
    width: 33.33%;
}
/* food suggestion */
.food {
    margin-left: 3rem;
}
.button {
    margin-left: 3.5rem;
    padding: 0.5rem;
}

/* contenu du widget time in bed */
.data {
    margin-left: 1rem;
    margin-right: 1rem;
}

.dataPlus {
    font-family: fantasy;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* includes tips and activity frames */
.bigWidget {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 1rem;
    
}

.right {
    /* background-color: darkorange; */
    color: white;
    border-radius: 10px;
    background-color: #272927;
    
}

.textLine {
    display: flex;
    padding: 1rem;
}

.inputLine {
    background-color: rgba(144,140,140,0.9);
}

.calories {
    
}

